<%- include('./includes/header.ejs') %>
<div class="ui container admin_buttons">
    <h2 id="Commandes" style="color:red;"> Les commandes ADMIN</h2>
    <hr class="HR">
    <div class="ToutEnsemble">
        <div class="imagemodifprofil3">
            <!-- <img src="/img/" style="width:50%;" alt="..."> -->
            <a href="/profil"><i class='fas fa-user-cog' style='font-size:150px;color:red;'></i></a>

          </div>
    <div class="deuxparties">
    <div class="Commande">
        <div class="RetourP">
            <a href="/profil"><i class="fas fa-user-alt profilicone" style="font-size: 70px; margin-right: 10%; margin-top: 2% ;color:red"></i></a>
        </div>
        <br>
        <br>
        <div class="deuxbutAdmin">
            <a href='/lesutilisateurs'><button class="btn btn-primary btn-lg btn2"><i class='fas fa-book-open' style="font-size:16px;"></i> &nbsp;&nbsp;Comptes utilisateurs</button></a>
            <a href='/deletePostByAdmin'><button class="btn btn-primary btn-lg" style="width:100%;" ><i class='far fa-edit' style="font-size:24px;"></i>&nbsp;&nbsp;Posts utilisateurs</button></a>
        </div>
    </div>
    <div class="AdminBout">
        <a href="./profil"><button type="button" class="btn btn-primary btn-lg button2 PP"><i class='fas fa-user-alt' style: font-size: 30px></i> &nbsp;&nbsp;Retour au Profil</button></a>
        <br>
        <a href="./profil"><i class='fas fa-arrow-circle-left' style='font-size:48px;color:red'></a></i>
    </div>
    <br>
</div>
</div>
<hr class="HR">
</div>
