<%- include('./includes/header.ejs') %>
    <main class="container">
        <!-- <div class="row">
            <h1>HELLO WOLRD</h1>                                                                       
            <div class="row">
                <figure class="textHome text-end">
                    <h3>Connectez-Vous</h3>
                    <figcaption class="blockquote-footer">
                    HELLO WORLD <cite title="Source Title">This is My Project</cite><br>
                    <img src="../public/img/tortue.jpg" alt="" width="10%">
                    </figcaption>
                </figure> -->
                <div class="cadre">
                      <div class="mb-3">
                        <label for="formFile" class="form-label">Insérer un fichier</label>
                        <input class="form-control" type="file" id="formFile">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Titre </span>
                        <input type="text" class="form-control" placeholder="Titre" aria-label="Titre" aria-describedby="basic-addon2">
                      </div>
                      
                      <div class="input-group">
                        <span class="input-group-text">Déscription</span>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                      </div>
                      <div class="col-12">
                          <a href="./profil"> <button type="button" class="btn btn-primary" id="but1">Connectez-vous</button></a>
                      </div>
                </div> 
            </div>
        </div>
    </main>
</body>
</html>