<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/profil/update" method="post">
        <h5>Modifier vos coordonnées toto <h5>
          <br>
        <div class="input-group mb-3">
          <input type="text" name="nom" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Mettre votre nom" autofocus>
        </div>
        <br>
        <div class="input-group mb-3">
          <input type="text" name="prenom" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Mettre votre prenom" autofocus>
        </div>
        <div>
          <button type="submit" value="Save changes">Save changes</button><br>
        </div>
        <br>
      </form>
</body>
</html>