
    <main class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><Menu></Menu></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./register.ejs">Inscrivez-vous</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./Trouvez.html">Mot de passe oublié</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./form.html">Article à ajouter</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="row">
            <h1>HELLO WOLRD</h1>                                                                         
            <div class="row">
                <figure class="textHome text-end">
                    <h3>Connectez-Vous</h3>
                    <figcaption class="blockquote-footer">
                    HELLO WORLD <cite title="Source Title">This is My Project</cite><br>
                    <img src="../public/img/tortue.jpg" alt="" width="10%">
                    </figcaption>
                </figure>
                <form class="row g-3">
                    <div class="col-auto">
                      <label for="staticEmail2" class="visually-hidden">Email</label>
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                    </div>
                    <div class="col-auto">
                      <label for="inputPassword2" class="visually-hidden">Password</label>
                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
                    </div>
                </form>
               <a href="./index.html"><button type="button" id="retour" class="btn btn-primary btn-lg">Accueil</button></a>
            </div>
        </div>
    </main>
</body>
</html>